.Chat{
    padding-right: 0px;
    padding-left: 0px;
    background-image: url("../img/cliquerLogoLogo.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}
.message-container{
    height: 81vh;
    overflow-y: scroll;
}

.send-message-container{
    margin-top: 10px;
}

.sender-message-right{
    text-align: right;
}
.sender-message-right-badge{
    background-color: #dbdbdb;
    margin-left: 10px;
}

.sender-message-right-alert{
    color: black;
    background-color: #dbdbdb;
    border-color: transparent;
    display:inline-block;
    max-width: 80%;
}

.sender-message-left-badge{
    background-color: #A7C5BD;
    margin-right: 10px;
}

.sender-message-left-alert{
    color: black;
    background-color: #A7C5BD;
    border-color: transparent;
    display:inline-block;
    max-width: 80%;
}

.date-div-center{
    width: 100%;
    text-align: center;
}
.time-stamp-right{
    margin-right: 3px;
    margin-top: 20px;
    color: grey;
}
.time-stamp-left{
    margin-left: 3px;
    margin-top: 20px;
    color: grey;
}

.group-message-div{
    width: 100%;
    text-align: center;
}

.group-message-badge{
    color: white;
}

.select-a-group-warning{
    margin-top: 10px;
    text-align: center;
}

.up-vote-down-vote{
    margin-left: 5px;
    margin-right: 5px;
}

.thumbs-down-flip{
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.-vote-up{
    -webkit-text-stroke: 1px black;
    color: transparent;
}

.-vote-up:hover{
    -webkit-text-stroke: 1px #A7C5BD;
    color:transparent;
}

.-vote-down{
    -webkit-text-stroke: 1px black;
    color: transparent;
}

.-vote-down:hover{
    -webkit-text-stroke: 1px #CF4647;
    color: transparent;
}


.up-vote-up{
    -webkit-text-stroke: 1px black;
    color: #A7C5BD;
}

.up-vote-up:hover{
    -webkit-text-stroke: 1px black;
    color: rgba(167, 197, 189, 0.60);
}

.down-vote-down{
    -webkit-text-stroke: 1px black;
    color: #CF4647;
}

.down-vote-down:hover{
    -webkit-text-stroke: 1px black;
    color: rgba(207, 70, 71, 0.60)
}

.-warning{
    color: rgb(224, 224, 224);
}

.-warning:hover{
    color: #eecb60;
}

.message-box-report{
    height: 100px;
}
