.Chat{
    padding-right: 0px;
    padding-left: 0px;
}
.message-container{
    height: 80vh;
    overflow-y: scroll;
}

.single-message{
    border-color: transparent;
    display:inline-block;
}

.send-message-container{
    margin-top: 10px;
}

.sender-message-right{
    text-align: right;
}