.CreateGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CreateGroup .form-group.required label:after {
  content:"*";
  color:#CF4647;
}

.CreateGroup .create-group-form {
  width: 75%;
  margin-top: 1rem;
}

.CreateGroup .skills-form {
  width: 75%;
  padding-bottom: 30px;
}

.CreateGroup h3 {
  margin-top: 1rem;
  margin-bottom: 0;
  padding: 0;
  color: #A3A3A3;
}

.CreateGroup label {
  color :#A3A3A3;
}

.create-group-submit-button {
  max-width: 200px !important;
}