.group-list-panel{
    background-color: #3f3142;
    padding-right: 0px;
}

.group-nav {
    height: 40px;
    background-color: #8ea8a1 !important;
    border-bottom: solid 2px;
    border-bottom-color: #5c5c5c45;
    font-size: 1.3em;
    color: azure;
}

.Groups.container-fluid {
    margin: 0;
    padding: 0;
    
}

.Groups .row {
    margin-right: 0;
}

.Groups .group-item {
    cursor: pointer;
}

.public-check-box{
    padding-left: 20x
}

body {
    overflow-y: hidden;
}