/*.nav-links{
    -webkit-text-fill-color: rgb(255, 255, 255);
    text-decoration-color: "secondary";
}
*/

.Navbar .cliquer-brand {
    color: white !important;
}

.Navbar .search {
    width: 40rem;
}