.notification-card {
    max-width: 80%;
    margin: auto;
}

.read-notification {
    color: #EB7B59;
    margin-right: 10px;
    display: inline-block;
}

.yes-read-notification {
    color: rgb(204, 204, 204);
    margin-right: 10px;
    display: inline-block;
}

.read-notification:hover {
    color: rgba(235, 123, 89, 0.5);
}

.yes-read-notification:hover {
    color: rgba(235, 123, 89, 0.5);
}

.notification-response {
    display: inline-block;
    text-align: right;
}

.notification-body {
    display: inline-block;
}

.notification-buttons {
    float: right;
}