.Profile .header {
    padding: 80px; /* some padding */
    text-align: center; /* center the text */
    background: #1abc9c; /* green background */
    color: white; /* white text color */
}

.Profile .header h1 {
    font-size: 40px;
}

.Profile .row { 
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.Profile .side {
    flex: 30%; /* Set the width of the sidebar */
    background-color: #f1f1f1; /* Grey background color */
    padding: 20px; /* Some padding */
}

.Profile .footer {
    
        padding: 20px;
        text-align: center;
        background: #ddd;
}

/* Main column */
.Profile .main { 
    flex: 70%; /* Set the width of the main content */
    background-color: white; /* White background color */
    padding: 20px; /* Some padding */

   
}

/* Style the top navigation bar */
.Profile .navbar {
    overflow: hidden; /* Hide overflow */
    background-color: #333; /* Dark background color */
}

/* Style the navigation bar links */
.Profile .navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
.Profile .navbar a.right {
    float: right; /* Float a link to the right */
}

/* Change color on hover/mouse-over */
.Profile .navbar a:hover {
    background-color: #ddd; /* Grey background color */
    color: black; /* Black text color */
}
