.account-settings-label{
    color: #A3A3A3;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.form-password {
    max-width: 330px;
    padding: 0px;
    margin: 0 auto;
    margin-top: 1.5em;
    padding-bottom: 50px;
}

.form-password-heading {
    text-align: center;
}

.change-password-container {
    text-align: center;
    font-size: 24px;
    margin-top: 0.75em;
    color: #A3A3A3;
}

#inputOldPassword {
    margin-top: 0px;
    margin-bottom: 1.2em;
}

#inputNewPassword {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

#confirmNewPassword {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.delete_account_section {
    padding-top: 50px;
    max-width: 330px;
    margin: 0 auto;
}

.modal-warning {
    -webkit-text-fill-color: #CF4647;
}
