.account-settings-label{
    color: #A3A3A3;
    text-align: center;
    margin-top: 0.75em;
    padding-bottom: 30px;
}

.form-password {
    max-width: 330px;
    padding: 0px;
    margin: 0 auto;
    margin-top: 1.5em;
    padding-bottom: 30px;
}

.form-password-heading {
    text-align: center;
}

.change-password-container {
    text-align: center;
    font-size: 24px;
    margin-top: 0.75em;
    color: #A3A3A3;
}

#inputOldPassword {
    margin-top: 0px;
    margin-bottom: 1.2em;
}

#inputNewPassword {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

#confirmNewPassword {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.delete_account_section {
    padding-top: 30px;
    max-width: 330px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.delete_account_section .delete-button {
    margin-top: 1rem;
}
.search-settings-section {
    margin-right: auto;
    margin-left: auto;
    max-width: 330px;
    margin-top: 0.75em;
}
.search-settings-label {
    text-align: center;
    font-size: 24px;
    color: #A3A3A3;
}

