.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 3em;
}

.sign-up-container {
    text-align: center;
    margin-top: 6px;
}

.logo {
    text-align: center;
}

.logo img {
    width: 300px;
    padding-top: 50px
}

#inputPassword {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-signin-heading {
    text-align: center;
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}

.fb-container {
    margin-top: 10px;
}

.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-social:hover {
    color: #eee;
}

.btn-social :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    padding: 7px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}